footer {
  padding: 8px 0;
  width: 100%;
  background-color: #1c242b;
}

.spacer {
  width: 1px;
  height: 48px;
  margin: 0 32px;
  background-color: #e5e5e5;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 84px;
}

.footer-li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  padding: 0;
}

.footer-li .link {
  margin-right: 32px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
}

.footer-li .link-active {
  font-weight: bold;
}

.footer-credit {
  text-align: right;
  font-size: 14px;
}

.footer-credit span {
  font-weight: bold;
  font-size: 16px;
}

@media only screen and (max-width: 640px) {
  footer {
    padding: 24px 0;
  }
  .footer-row,
  .footer-li,
  .footer-ul {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .footer-li .link {
    margin-right: 0;
  }
  .spacer {
    display: none;
    margin: 0;
  }
  .footer-credit {
    margin-top: 48px;
    text-align: center;
  }
}
