nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  background-color: rgba(17, 23, 27, 0.9);
  backdrop-filter: blur(16px);
  border-bottom: 2px solid #1c242b;
  z-index: 99;
  height: 72px;
}

.nav-row {
  padding: 0 18%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-li {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  gap: 48px;
  margin: 0;
  padding: 0;
}

.nav-li .link {
  display: flex;
  align-items: center;
  position: relative;
  height: 68px;
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.nav-li .link::before {
  transition: all 0.15s;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 5px transparent;
}

@media (hover: hover) and (pointer: fine) {
  .nav-li .link:hover::before {
    height: 4px;
    background-color: #b21a23;
    box-shadow: 0 2px 10px rgba(173, 27, 53, 0.25);
  }
}

.nav-li .link-active::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #b21a23;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 2px 10px rgba(173, 27, 53, 0.25);
}

.link-text {
  display: block;
}

.link-icon {
  display: none;
  width: 24px;
}

.nav-drop {
  display: none;
  position: fixed;
  top: 0;
  right: -10px;
  z-index: 109;
  height: 72px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #11171b;
  border-left: 2px #1c242b solid;
  box-shadow: 0 2px 10px rgb(17, 23, 27, 0.25);
  height: 100vh;
  gap: 16px;
  width: clamp(200px, 60%, 264px);
  z-index: 108;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sub-menu:not(:first-of-type) {
  border-top: 2px #1c242b solid;
}

.menu-link {
  cursor: pointer;
  text-decoration: none;
  padding: 24px;
  font-size: 16px;
  border-bottom: 2px solid #1c242b;
  transition: background-color 0.15s ease;
}

.menu-link span {
  display: flex;
  align-items: center;
  gap: 18px;
}

@media (hover: hover) and (pointer: fine) {
  .menu-link:hover {
    background-color: #1c242b;
  }
}

.menu-profile {
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 2px solid #1c242b;
}

.profile-pic {
  border-radius: 99px;
  border: 2px solid #1c242b;
  object-fit: cover;
  object-position: center;
  transition: all 0.15s ease;
}

.profile-pic:hover {
  border: 2px solid #b21a23;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 0.9rem;
}

.profile-info span {
  font-size: 0.8rem;
  opacity: 0.5;
}

.menu-link-active {
  font-weight: bold;
  background-color: #1c242b;
}

@media screen and (max-width: 1366px) {
  .nav-row {
    padding: 0 6%;
  }
}

@media screen and (max-width: 1048px) {
  .link-text {
    display: none;
  }
  
  .link-icon {
    display: block;
  }
  
  .nav-li {
    gap: 24px;
  }
}

@media screen and (max-width: 640px) {
  .nav-li {
    display: none;
  }
  .nav-drop {
    display: flex;
    align-items: center;
  }
}
