.title {
  margin-top: 32px;
  margin-bottom: 8px;
}

.list {
  margin: 0;
  padding: 0;
}

.list > li {
  padding: 6px 16px;
  list-style: none;
  border-radius: 8px;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .list > li:hover {
    background-color: #1c242b;
  }
}

.list > .active {
  background-color: #1c242b;
}
