.search-box {
  position: relative;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  background-color: #1c242b;
  border-radius: 8px;
  gap: 12px;
  width: 100%;
  pointer-events: none;
}

.search-box .clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  padding: 6px;
  pointer-events: all;
  cursor: pointer;
}

.search-box input {
  font-size: 1.05rem;
  width: 100%;
  background-color: #1c242b;
  font-weight: 300;
  pointer-events: auto;
  padding: 0;
  border: none;
  border-radius: 0;
  color: #e5e5e5;
}

.search-box input:focus {
  outline: none;
}

.search-box input::placeholder {
  color: #e5e5e5;
  opacity: 0.75;
}
