body {
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.glb-container {
    padding: 0 18%;
    min-height: calc(100vh - 86px);
}

main {
    margin-top: 32px;
    margin-bottom: 128px;
}

.split-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-white {
    color: #e5e5e5
}

.text-red {
    color: #AD1B35;
}

.pointer {
    cursor: pointer;
}