.text-area {
  width: 100%;
  padding: 12px 16px;
  width: 100%;
  min-height: 80px;
  max-height: 240px;
  font-family: inherit;
  font-size: inherit;
  background-color: #1c242b;
  border-radius: 8px;
  color: #e5e5e5;
  border: none;
  resize: vertical;
}

.text-area:focus {
  outline: none;
}
