.aside {
  width: 200px;
  min-width: 200px;
  margin-top: 32px;
  margin-right: 48px;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: right;
}

.quickaccess {
  display: flex;
  justify-content: right;
  gap: 6vw;
  margin-bottom: 12px;
}

.filter-mode {
  display: inline-flex;
}

.view-mode {
  display: inline-flex;
  justify-content: right;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 42px;
  min-width: 42px;
  background-color: #1c242b;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.view:first-child,
.filter-mode:first-child {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.view:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media (hover: hover) and (pointer: fine) {
  .view:hover {
    background-color: #d21e2a;
    box-shadow: 0 2px 10px rgba(173, 27, 53, 0.25);
  }
}

.view:active {
  background-color: #8e151d;
}

.view.view-active {
  background-color: #b21a23;
  box-shadow: 0 2px 10px rgba(173, 27, 53, 0.25);
  z-index: 1;
}

.table-container {
  width: 100%;
}

.table-container:not(:last-child) {
  margin-bottom: 16px;
}

.watchlist-skeleton .status-skeleton {
  height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 120px;
}

.watchlist-skeleton .title-skeleton {
  width: clamp(100px, 40%, 240px);
}

.watchlist-skeleton table {
  width: 100%;
  border-collapse: collapse;
}

.watchlist-skeleton .cover-skeleton {
  margin: 0 auto;
  width: 48px;
  height: 48px;
}

.watchlist-skeleton .show-skeleton {
  height: 48px;
  width: 90%;
  max-width: 480px;
}

.watchlist-skeleton .skeleton-bg {
  background-color: #1c242b;
  border-radius: 8px;
}

.watchlist-skeleton .skeleton-fg {
  background-color: #242f38;
  border-radius: 8px;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-fg {
  0% {
    background-color: #242f38;
  }
  100% {
    background-color: #2c3a46;
  }
}

.watchlist-skeleton td, th {
  padding: 14px 8px;
}

@media screen and (max-width: 960px) {
  .quickaccess {
    justify-content: space-between;
  }
}
